*, *::before, *::after {
	box-sizing: border-box;
}

body {
	position: relative;

	margin: 0;
	padding: 0;

	min-width: 960px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height:auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin:-1px;
border: 0;
padding: 0;
white-space:nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow:hidden;
background-position: 0 0;
}

.page__header {
	min-height: 320px;

	background-color: #f4f7f9;
}

.page__footer {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;

	background-color: #32425c;
}
.btn {
	display: block;

	color: #ffffff;

	text-align: center;
	text-transform: uppercase;

	background-color: #ee3643;
	border-radius: 3px;
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.header {
	display: flex;

	height: 42px; /*Времено*/
}

.container {
	width: 960px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
}

.header .container {
	display: flex;

	width: 960px;
}

.header__logo,
.header__logo--active {
	display: block;

	height: 47px;
	width: 220px;

	padding-top: 13px;
	padding-left: 55px;

	background-color: #ee3643;

	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header__logo--active:hover,
.header__logo--active:focus,
.footer__logo--active:hover,
.footer__logo--active:focus {
	background-color: #ca2c37;
}

.header__logo--active:active,
.footer__logo--active:active {
	background-color: #ba2732;
}

.header,
.header__inp {
	font-size: 17px;
	color: #ffffff;

	background-color: #293449;
}

.header__form {
	position: relative;
}

.header__form svg {
	position: absolute;

	top: 12px;
	left: 17px;

	opacity: 0.3;

	fill: #ffffff;
}

.header__inp {
	height: 42px;
	width: 270px;

	padding-left: 49px;

	border: none;
}

.header__inp:hover {
	background-color: #212a3a;
}

.header__inp:focus {
	color: #000000;

	background-color: #ffffff;
}

.header__form:hover svg {
	opacity: 1;
}

.header__inp:focus + .header__seek svg {
	fill: #ee3643;
	opacity: 1;
}

.header__info {
	display: block;
	width: 150px;
	height: 42px;

	color: #ffffff;
}

.header__info:hover,
.header__info:focus {
	background-color: #212a3a;
}

.header__info:active {
	color: #a2a5a9;

	background-color: #161d29;
}

.header .bookmark {
	position: relative;
	padding-top: 12px;
	padding-left: 44px;
}

.bookmark::before {
	content: "";
  
 	position: absolute;
  	top: 12px;
  	left: 17px;
  
  	width: 14px;
  	height: 16px;
  
  	background-image: url("../img/icon-bookmark.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;

  	opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before,
.basket:hover svg,
.basket:focus svg {
	opacity: 1;
}

.bookmark:active::before,
.basket:active svg {
	opacity: 0.3;
}

.header .basket {
	position: relative;

	padding-top: 12px;
	padding-left: 50px;
}

.basket svg {
 	position: absolute;
  	top: 12px;
  	left: 18px;
  
  	fill: #ffffff;
  	opacity: 0.3;
}

.header__order {
	display: block;
	width: 150px;
	height: 42px;

	padding-top: 12px;
	padding-left: 20px;

	color: #ffffff;

	background-color: #63a63e;
}

.header__order:hover,
.header__order:focus {
	color: #ffffff;

	background-color: #5fbb2d;
}

.header__order:active {
	color: rgba(255, 255, 255, 0.5);

	background-color: #518534;
}

.header__box {
	display: flex;
	padding-top: 46px;

	width: 960px;
}


.header__description {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;

	width: 196px;

	margin-top: 0px;
	margin-right: 71px;
	margin-left: 53px;
	margin-bottom: 0;
}

.header__contacts {
	margin-right: auto;
}

.header__contacts a {
	display: block;

	position: relative;

	padding-left: 71px;
	padding-top: 10px;
	padding-right: 49px;
	padding-bottom: 8px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header__contacts a::before {
	content: "";

	position: absolute;

	top: 10px;
	left: 12px;

	width: 19px;
	height: 19px;

	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header__contacts p {
	margin-top: 9px;
	margin-bottom: 0;

	line-height: 24px;

	text-align: center;

	color: #32425c;
}

.header__user ul {
	display: flex;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.header__user a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.header__user--enter {
	position: relative;

	display: block;

	width: 121px;
	height: 45px;

	padding-left: 48px;
	padding-top: 12px;

	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.header__user--registr {
	display: block;
	
	min-width: 150px;
	min-height: 45px;

	margin-left: 10px;

	padding-top: 13px;
	padding-left: 25px;
}

.header__user a:hover,
.header__user a:focus {
	color: #ee3643;
}

.header__user a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header__user svg {
	position: absolute;

	top: 14px;
	left: 14px;
}

.header__user--enter:hover path {
	fill: #293449;
}

.header__navigation {
	min-height: 60px;
	margin-top: 40px;
	padding: 0 10px;

	font-size: 17px;
	line-height: 17px;
}

.header__navigation ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #32425c;
	margin: 0;
	padding: 0;

	list-style: none;

	box-shadow: inset 0px -5px 0 0 #293449;
}

.header__navigation li {
}

.header__navigation a {
	display: block;

	padding: 20px 33.5px;

	color: #ffffff;
}

.header__navigation a:hover,
.header__navigation a:focus {
	color: #ffffff;

	background-color: #293449;
}

.header__navigation a:active {
	color: rgba(255, 255, 255, 0.5);

	background-color: #1d2739;
}

.main__features {
	margin-top: 59px;
}

.features__top {
	display: flex;
	justify-content: space-between;
}

.features__bottom {
	display: flex;
	justify-content: space-between;

	margin-top: 20px;
}

.features__container div {
	position: relative;

	width: 300px;
	height: 123px;
}


.features__container h3 {
	margin: 0;
	padding-top: 23px;
	padding-left: 23px;

	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}

.features__container a {
	display: block;
	width: 135px;
	height: 38px;

	margin-top: 12px;
	margin-left: 25px;
	padding-top: 11px;

	color: #ffffff;

	text-align: center;
	text-transform: uppercase;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.features__container a:hover,
.features__container a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.features__container a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.materials {
	background-color: #ffbf47;
}

.materials::before {
	content: "";

	position: absolute;

	width: 44px;
	height: 65px;

	right: 43px;
	bottom: 27px;

	background: url(../img/icon-1.svg) no-repeat 0 0;
}

.tool {
	background-color: #3bbce3;
}

.tool::before {
	content: "";

	position: absolute;

	width: 75px;
	height: 61px;

	right: 28px;
	bottom: 29px;

	background: url(../img/icon-2.svg) no-repeat 0 0;
}

.technic {
	background-color: #dc91d8;
}

.technic::before {
	content: "";

	position: absolute;

	width: 78px;
	height: 62px;

	right: 31px;
	bottom: 30px;

	background: url(../img/icon-3.svg) no-repeat 0 0;
}

.discounts {
	background-color: #8ed78f;
}

.discounts::before {
	content: "";

	position: absolute;

	width: 59px;
	height: 72px;

	right: 45px;
	bottom: 25px;

	background: url(../img/icon-4.svg) no-repeat 0 0;
}

.main__delivery {
	margin-top: 20px;

	background-color: #ffc047;
}

.main__delivery::before {
	content: "";

	position: absolute;

	width: 78px;
	height: 63px;

	right: 31px;
	bottom: 28px;

	background: url(../img/icon-5.svg) no-repeat 0 0;
}

.slider {
	position: relative;

	width: 620px;
	height: 266px;
}

.mySlides {
	display: none;
	height: 266px;

	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: rgba(0, 0, 0, 0.4);
}

.slider__block {
	display: block;
}

.slider__list li:first-child {
	background-image: url(../img/slider-image.jpg);
}


.slider__list li:nth-child(2) {
	background-image: url(../img/slide-image-2.jpg);
}

.slider__btn {
	width: 195px;
	height: 38px;

	padding-top: 10px;
	margin-top: 121px;
	margin-left: 25px;
}

.slider__radio .active {
	border: 2px solid #ffffff;

	background-color: #ee3643;
}

.slider__radio {
	position: absolute;

	display: flex;

	top: 222px;
	left: 50%;

	transform: translateX(-50%);
}

.slider__radio button {
	padding: 0;
	margin-right: 10px;

	width: 10px;
	height: 10px;

	border: none;
	border-radius: 50%;
	
	cursor: pointer;
	background-color: #ffffff;
}

.slider__radio button:last-child {
	margin-right: 0;
}

.slider ul {
	margin: 0;
	padding-left: 0;

	list-style: none;
}

.slider h3 {
	margin: 0;
	padding-top: 24px;
	padding-left: 24px;

	font-size: 36px;
	line-height: 36px;
	color: #ffffff;

	text-transform: uppercase;
}

.slider p {
	margin: 0;
	margin-top: 2px;
	margin-left: 25px;

	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.slider__arrows {
	font: inherit;

	display: block;

	position: absolute;
	top: 50%;

	margin-top: -20px;

	width: 22px;
	height: 40px;

	cursor: pointer;

	border: none;
}

.right__btn {
	right: 20px;

	background: url("../img/icon-right.svg") no-repeat 0 0;
}

.left__btn {
	left: 20px;

	background: url("../img/icon-left.svg") no-repeat 0 0;
}

.title__box {
	font-family: "Cuprum", "Arial", sans-serif;

	display: flex;
	justify-content: space-between;

	min-height: 89px; 
	background-color: #f9f5f0;
}

.title__index {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;

	text-transform: uppercase;

	margin-bottom: 29px;
}

.blue__title {
	margin-top: 29px;
	margin-left: 30px;
	margin-bottom: 0;
	padding-bottom: 29px;

	color: #32425c;
}

.title__btn {
	flex-shrink: 0;

	width: 253px;
	height: 38px;

	padding-top: 10px;
	margin-right: 24px;
	margin-left: 24px;
	margin-top: 25px;
}

.main__manufacturers ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding-left: 0;
	margin: 0;

	list-style: none;
}

.main__manufacturers li {
	position: relative;
	width: 220px;
	height: 145px;

	border: 1px solid #eaeaea;
	margin-top: 20px;
}

.manufacturers__list a {
	display: block;
	width: 220px;
	height: 145px;
}

.manufacturers__list a:hover,
.manufacturers__list a:focus,
.catalog__index li:hover,
.catalog__index li:focus,
.catalog li:hover,
.catalog li:focus {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers__list a:active {
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.manufacturers__list img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.main__services,
.adv {
	background-color: #f4f7f9;
}

.main__services p,
.adv p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.main__services {
	margin-top: 85px;
	min-height: 522px;
}

.main__services .container {
	width: 960px;
}

.services__paragraph {
	width: 398px;

	margin-top: 29px;
	margin-bottom: 0;
}

.title__services {
	margin: 0;
	padding-top: 64px;
	min-width: 522px;
}

.main__services ul {
	list-style: none;
	padding: 0;
}

.services__box {
	display: flex;

	position: relative;

	margin-top: 69px;
}

.main__services h3 {
	font-size: 36px;
	line-height: 36px;
	font-style: normal;
	color: #32425c;
	margin: 0;

	text-transform: uppercase;
}

.services__list {
	position: relative;

	padding-left: 0;
	margin-bottom: 99px;
	margin-right: 80px;
}

.services__list::before {
	content: "";

	position: absolute;

	right: 0;
	top: 50%;

	transform: translateY(-50%);

	width: 10px;
	height: 279px;

	background: url(../img/shadow.png) no-repeat 0 0;
}

.services__btn {
	font: inherit;

	display: block;

	width: 240px;
	height: 61px;

	padding-left: 22px;

	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	color: #ffffff;
	text-align: left;

	cursor: pointer;

	background-color: #32425c;
	border-top: 1px solid #293449;
	border-bottom: 1px solid #405069;
	border-left: none;
	border-right: none;
}

.services__btn:hover,
.services__btn:focus {
	background-color: #293449;
}

.active__btn {
	color: #32425c;

	cursor: default;

	background-color: #ffffff;
	border: none;
}

.active__btn:hover,
.active__btn:focus {
	color: #32425c;

	cursor: default;	
	background-color: #ffffff;
}

.services__description {
	width: 100%;
	margin-bottom: 0;
}

.services__description li {
	display: none;
	margin-right: 0;
	height: 100%;
}

.services__description p {
	margin-top: 25px;

	width: 375px;
}

.myServices {
	display: none;
}

.services__description--delivery {
	background: url(../img/delivery.png) no-repeat right bottom;
}

.services__description--guarantee {
	background: url(../img/guarantee.png) no-repeat right bottom;
}

.services__description--credit {
	background: url(../img/credit.png) no-repeat right bottom;
}

.services__description--credit a {
	width: 195px;

	margin-top: 25px;
	padding: 10px 0;
}

.company {
	display: flex;
	justify-content: space-between;

	margin-top: 78px;
	margin-bottom: 86px;

	width: 960px;
}

.company h2 {
	margin-top: 0;
}

.company p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.company__map {
	font: inherit;

	display: block;
	height: 158px;

	padding: 0;

	border: none;

	cursor: pointer;
}

.paragraph__company__1 {
	margin-bottom: 29px;
}

.paragraph__company__2 {
	max-width: 386px;
}

.paragraph__company__3 {
	max-width: 179px;
	margin-bottom: 35px;
}

.company__description {
	max-width: 519px;
}

.company__description ul {
	font-size: 18px;
	line-height: 20px;
	padding: 0;

	list-style: none;
}

.company__description li {
	position: relative;
	margin-bottom: 20px;
	padding-left: 36px;
}

.company__description li::before {
	content: "";

	position: absolute;

	width: 25px;
	height: 2px;

	top: 50%;

	margin-top: -1px;
	margin-left: -36px;

	background-color: #ee3643;
}

.company__description .btn__1 {
	width: 220px;
	height: 38px;

	padding-top: 10px;

	margin-top: 38px;
}

.company__description .btn__2 {
	width: 300px;
	height: 38px;

	margin-top: 40px;
	padding-top: 10px;

	cursor: pointer;
}

.page__footer .container {
	display: flex;
	justify-content: space-between;
}

.page__footer .container{
	width: 960px;
}

.footer__logo,
.footer__logo--active {
	display: block;

	height: 68px;
	width: 220px;

	padding-top: 20px;
	padding-left: 41px;

	background-color: #ee3643;

	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer__navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0;
	margin: 0;
	margin-top: 39px;
}

.footer__menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	margin-top: 29px;
}

.footer__navigation a, 
.footer__menu a {
	margin-left: 60px;
}

.footer__navigation a {
	color: #f1f5f7;
}

.footer__menu a {
	color: #ffd180;
}

.footer__navigation a:hover,
.footer__navigation a:focus,
.footer__menu a:hover,
.footer__menu a:focus {
	text-decoration: underline;
}

.footer__navigation a:active {
	text-decoration: none;

	color: #929caa;
}

.footer__menu a:active {
	text-decoration: none;

	color: #ad956f;
}

.footer__aside {
	width: 325px;
	margin: 0;
	margin-top: 29px;
	margin-bottom: 49px;
}

.footer__aside a {
	color: #ffffff;
}

.footer__row {
	font-size: 16px;

	color: #ffffff;

	background-color: #293449;
}

.footer__row .container {
	display: flex;
}

.footer__row p {
	margin: 0;
	margin-top: 38px;
	margin-bottom: 34px;
}

.footer__row .paragraph__index--1 {
	width: 228px;
	margin-right: auto;
}

.footer__row .paragraph__index--2 {
	width: 135px;
}

.footer__row .paragraph__index--3 {
	width: 96px;

	margin-right: 15px;
	margin-left: 53px;
}

.socials {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	list-style: none;

	margin: 0 auto;
	padding: 0;
	margin-left: 0;
	margin-right: 118px;

	width: 135px;
}

.socials li {
	margin-right: 3px;
}

.socials a {
	display: block;

	width: 42px;
	height: 42px;

	border-radius: 50%;
}

.socials__vk {
	background: url(../img/vk-icon.svg) no-repeat 50% 50% #212a3a;
}

.socials__fb {
	background: url(../img/fb-icon.svg) no-repeat 50% 50% #212a3a;
}

.socials__ins {
	background: url(../img/insta-icon.svg) no-repeat 50% 50% #212a3a;
}

.socials a:hover,
.socials a:focus {
	background-color: #ee3643;
}

.footer__row .link {
	color: #ffd180;
}

.footer__row .link:hover,
.footer__row .link:focus {
	text-decoration: underline;
}

.footer__row .link:active {
	text-decoration: none;
	color: #ee3643;
}


/*Каталлог*/

.user {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 0;

	width: 299px;
	height: 45px;
	font-size: 21px;
	line-height: 21px;

	background-color: #ffffff;
}

.user a {
	display: block;
	color: #000000;
}

.user__list {
	display: flex;
	margin-top: 9px;
	margin-bottom: 0;
	padding: 0;

	list-style: none;
}

.user__list li:first-child {
	margin-left: 17px;
	margin-right: auto;
}

.user__list li:last-child {
	margin-right: 71px;
}

.user__list a {
	display: block;

	font-size: 16px;
	color: #32425c;

	text-decoration: underline;
}

.user__list a:hover,
.user__list a:focus {
	color: #ee3643;
}

.user:active {
	color: rgba(0, 0, 0, 0.3);
}

.user__list a:active {
	color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin-top: 22px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;

	text-transform: uppercase;

	list-style: none;
}

.breadcrumbs li {
	margin-right: 39px;
}

.breadcrumbs a,
.breadcrumbs__active {
	color: #000000;
}

.right__column {
	display: flex;
	flex-direction: column;

	width: 700px;
	margin-top: 20px;
}

.catalog__container {
	display: flex;
	justify-content: space-between;
}

.left__column {
	width: 220px;
}

.title {
	padding-top: 28px;
	padding-left: 30px;
	padding-bottom: 28px;

	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #32425c;

	text-transform: uppercase;

	background-color: #f2f6f8;
}

.subtitle {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;

	text-transform: uppercase;

	background-color: #f7f3ec;

	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 18px;

	margin-top: 20px;
}

.filter {
	font-family: "PT Sans", "Arial", sans-serif;

	text-transform: uppercase;
}

.filter ul {
	list-style: none;
}

.filter legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.input {
	font-size: 15px;
	line-height: 20px;
}

.input:disabled {
	color: rgba(0, 0, 0, 0.4);
}

.filter button {
	font-size: 13px;

	text-transform: uppercase;

	text-align: center;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.sort {
	display: flex;
	justify-content: space-between;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;

	text-transform: uppercase;

	background-color: #f7f3ec;
}

.sort button {
	cursor: pointer;
}

.sort h2 {
	font-size: 13px;
	margin: 0;
	margin-left: 19px;
	padding-top: 11px;
	padding-bottom: 12px;
}

.sort__1,
.sort__2 {
	display: flex;
	margin: 0;
	padding:0;
	padding-top: 11px;

	list-style: none;
}

.sort__1 li {
	margin: 0;
	margin-right: 46px;
}

.sort__btn {
	font: inherit;

	display: block;

	color: rgba(0, 0, 0, 0.18);
	background-color: #f7f3ec;

	border: none;

	text-transform: uppercase;

	border-bottom: dotted 1px #ee3643; 
}

.sort__active {
	color: #ee3643;
	text-decoration: none;
	cursor: default;

	border: none;
}

.sort__btn:hover,
.sort__btn:focus {
	color: #000000;

	border-bottom: solid 1px #ee3643; 
}

.sort__active:hover,
.sort__active:focus {
	color: #ee3643;
	text-decoration: none;
	cursor: default;

	border: none;
}

.catalog {
	font-family: "PT Sans", "Arial", sans-serif;

	width: 700px;
}

.catalog__index {
	margin-top: 53px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.catalog ul {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	list-style: none;

	margin: 0;
	margin-top: 21px;
	padding: 0;
}

.catalog__index ul {
	display: flex;
	flex-wrap: wrap;

	list-style: none;

	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
}

.catalog li,
.catalog__index li {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 218px;

	margin-bottom: 20px;
	margin-right: 22px;

	border: 1px solid #e5e5e5;

	text-align: center;
}

.catalog__index li:nth-child(4n) {
	margin-right: 0;
}

.catalog img,
.catalog__index img,
.catalog__btn {
	order: -1;
}

.catalog__index li {
	position: relative;
}

.catalog__btn {
	position: absolute;

	top: 0;
	left: 0;

	display: none;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;

	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;

	width: 100%;
	height: 170px;
}

.catalog__index li:hover .catalog__btn {
	display: block;
}

.catalog__btn a {
	display: block;

	margin-left: 42px;
}

.catalog h3,
.catalog__index h3 {
	width: 160px;

	margin: 0;
	margin-top: 9px;

	font-size: 18px;
	line-height: 20px;
	color: #000000;

	text-align: center;
}

.catalog span,
.catalog__index span {
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
	color: #999999;

	text-align: center;

	text-decoration: line-through;
}

.catalog__price,
.catalog__index p {
	position: relative;

	width: 141px;
	height: 38px;

	padding-top: 10px;
	margin-bottom: 21px;
	margin-top: auto;

	font-size: 17px;
	font-weight: bold;
	color: #ffffff;

	text-align: center;

	text-transform: uppercase;

	background-color: #ee3643;

	border-radius: 3px;
}

.catalog__price::after {
	content: "";

	position: absolute;

	top: 0;
	right: -25px;

	width: 0;
	height: 0;

	border: 19px solid white;
    border-left-color: #ee3643;
}

.buy {
	width: 135px;
	height: 38px;

	margin-top: 44px;
	padding-top: 10px;

	color: #ffffff;

	text-align: center;
	text-transform: uppercase;

	background-color: #63a63e;
	box-shadow: inset 0px -3px 0 0 #367315;
}

.buy:hover,
.buy:focus {
	background-color: #5fbb2d;
}

.buy:active {
	background-color: #518534;
}

.cart {
	width: 135px;
	height: 38px;
	margin-top: 8px;
	padding-top: 8px;

	color: #32425c;

	text-align: center;
	text-transform: uppercase;

	border: 3px solid #63a63e;
}

.cart:hover,
.cart:focus {
	border: 3px solid #32425c;
}

.cart:active {
	color: #c1c6ce;

	border: 3px solid #c1c6ce;
}

.catalog__list {
	display: flex;

	margin-top: 32px;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;

	text-align: center;

	list-style: none;
}

.catalog__list a {
	display: block;
	min-width: 38px;
	height: 38px;

	padding-top: 10px;
	margin-right: 10px;

	color: #000000;

	text-transform: uppercase;

	border: 1px solid #e5e5e5;
}

.catalog__list a:hover,
.catalog__list a:focus {
	border: 1px solid #bdc6ca;
}

.catalog__list .active {
	color: #ffffff;

	border: none;
	background-color: #ee3643;
	cursor: default;
}

.catalog__list .active:hover,
.catalog__list .active:focus {
	color: #ffffff;

	cursor: default;
	border: none;
	background-color: #ee3643;
}

.last__item {
	width: 140px;
}

.adv {
	min-height: 261px;
}

.adv .title__index {
	margin: 0;
	padding-top: 64px;
}

.adv p {
	margin: 0;
	margin-top: 29px;

	width: 911px;
}

.new::after {
	content: "";

	position: absolute;
	top: 0;
	right: 0;

	width: 60px;
	height: 59px;

	background: url("../img/new-flag.png") no-repeat 0 0;

	z-index: 20;
}

/*Попапчики главной страницы*/

.big__map {
	display: none;

	position: fixed;

	top: 23px;
	left: 50%;
	z-index: 500;
	margin-left: -480px;
}
.big__map div {
	position: relative;
}

.big__map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.big__map iframe {
  position: relative;
  z-index: 2;

  border: none;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.close__btn {
	font: inherit;
	display: block;

	position: absolute;

	top: 24px;
	right: 24px;

	width: 21px;
	height: 21px;

	cursor: pointer;

	background: url("../img/icon-close.svg") no-repeat 0 0;
	border: none;

	z-index: 3;
}

.application {
	display: none;

	position: fixed;

	bottom: 221px;
	left: 50%;

	margin-left: -310px;

	font-size: 18px;

	width: 620px;
	min-height: 430px;

	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);

	background-color: #ffffff;

	z-index: 500;
}

.application > div {
	position: relative;
}

.application::before {
	content: "";

	position: absolute;

	width: 620px;
	height: 7px;

	background-color: #ee3643;
}

.application__btn {
	top: 16px;
	right: 9px;
}

.application__form p {
	margin: 0;
}

.application__form div {
	display: flex;
	justify-content: space-between;

	padding-top: 53px;
	margin-left: 80px;
	margin-right: 80px;
}

.application__form input,
.application__form textarea {
	display: block;

	padding-left: 14px;
	margin-top: 11px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;

	border: solid 2px #dee3e4;
	border-radius: 2px;
}

.application__form input::placeholder,
.application__form textarea::placeholder {
	color: #a9a9a9;
}

.application__form input {
	width: 220px;
	height: 38px;
}

.application__form textarea {
	min-width: 460px;
	max-width: 460px;
	min-height: 114px;

	padding-top: 11px;
}

.application__form button {
	font: inherit;
	display: block;

	font-size: 14px;

	border: none;

	cursor: pointer;

	width: 460px;
	margin: 37px 80px;
}

.application__form .application__arial {
	display: block;

	margin-top: 20px;
	margin-left: 80px;
}

.application__form .application__bottom {
	height: 112px;
	width: 100%;
	margin-left: 0;
	margin-top: 37px;
	padding: 0;

	background-color: #f4f4f4;
}

@keyframes bounce {
	0% {
		transform: translateY(2000px);
	}

	70% {
	 	transform: translateY(-30px);
	}

	90% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
	  transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
	  transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
	  transform: translateX(10px);
  	}
}

.modal__show {
	display: block;

	animation: bounce 0.6s;
}

.modal__error {
  	animation: shake 0.6s;
}