body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #000;

	background-color: #fff;
}

a {
	color: #fff;

	text-decoration: none;
}

h1 {
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #32425c;

	text-transform: uppercase;

	background-color: #f2f6f8;
}

legend {
	font-family: "PT Sans" sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;

	text-transform: uppercase;
}

.input {
	font-family: "PT Sans" sans-serif;
	font-size: 15px;
	line-height: 20px;

	text-transform: uppercase;
}

.btn {
	font-size: 14px;
	line-height: 18px;

	text-align: center;
	vertical-align: middle;

	background-color: #ee3643;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:active,
.btn:focus {
	background-color: #ba2732;
}



.header,
.header input[type="search"] {
	font-size: 17px;
	line-height: 18px;
	color: #fff;

	background-color: #293449;
}

.header input[type="search"] {
	border: none;
}

.header input[type="search"]:hover,
.header__info:hover {
	background-color: #212a3a;
}

.header input[type="search"]:focus {
	color: #000;

	background-color: #fff;
}

.header__info:active,
.header__info:focus {
	color: #a2a5a9;

	background-color: #161d29;
}

.header__order {
	color: #f5f9f2;

	background-color: #63a63e;
}

.header__order:hover {
	color: #fff;

	background-color: #5fbb2d;
}

.header__order:active,
.header__order:focus {
	color: #a8c29a;

	background-color: #518534;
}

.header__box {
	background-color: #f4f7f9;
}

.header__description {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.header__tel {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #fff;
}

.header__address {
	font-size: 14px;
	line-height: 24px;

	color: #32425c;
}

.header__user {
	font-size: 21px;
	line-height: 21px;
	color: #000;

	background-color: #fff;
}

.header__user:hover {
	color: #ee3643;
}

.header__user:active,
.header__user:focus {
	color: #c5c5c5;
}

.header__navigation {
	font-size: 17px;
	line-height: 17px;
	color: #f1f2f4;

	background-color: #32425c;
}

.header__navigation--link:hover {
	color: #fff;

	background-color: #293449;
}

.header__navigation--link:active,
.header__navigation--link:focus {
	color: #525a68;

	background-color: #1d2739;
}

.company__title {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

.company .content {
	font-family: "PT Sans" sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.company__list {
	line-height: 20px;
}

.footer {
	line-height: 24px;
	color: #fff;

	background-color: #32425c;
}

.footer__navigation .item {
	color: #f1f5f7;
}

.footer__menu .item {
	color: #ffd180;
}

.footer__navigation .item:hover,
.footer__menu .item:hover {
	text-decoration: underline;
}

.footer__navigation .item:active,
.footer__navigation .item:focus {
	text-decoration: none;

	color: #929caa;
}

.footer__menu .item:active,
.footer__menu .item:focus {
	text-decoration: none;

	color: #ad956f;
}

.footer__row {
	font-size: 16px;
	line-height: 18px;

	color: #fff;

	background-color: #293449;
}

.footer__row .socials {
	background-color: #212a3a;
}

.footer__row .socials:hover,
.footer__row .socials:active,
.footer__row .socials:focus {
	background-color: #ee3643;
}

.footer__row .link {
	color: #ffd180;
}

.footer__row .link:hover {
	text-decoration: underline;
}

.footer__row .link:active,
.footer__row .link:focus {
	text-decoration: none;
	color: #ee3643;
}


/*Каталлог*/

.user {
	font-size: 21px;
	line-height: 21px;
	color: #000;

	background-color: #fff;
}

.user__list a {
	font-size: 16px;
	color: #32425c;

	text-decoration: underline;
}

.user__list a:hover {
	color: #ee3643;
}

.user:active,
.user:focus,
.user__list a:active,
.user__list a:focus {
	color: #b2b2b2;
}

.breadcrumbs a,
.breadcrumbs__active {
	font-family: "PT Sans" sans-serif;
	font-size: 13px;
	color: #000;

	text-transform: uppercase;
}

.buy {
	font-size: 14px;
	line-height: 18px;

	text-transform: uppercase;

	background-color: #63a63e;
}

.buy:hover {
	background-color: #5fbb2d;
}

.buy:active,
.buy:focus {
	background-color: #518534;
}

.cart {
	font-size: 14px;
	line-height: 18px;
	color: #32425c;

	text-transform: uppercase;

	border: 3px solid #63a63e;
}

.cart:hover {
	border: 3px solid #32425c;
}

.cart:active,
.cart:focus {
	color: #c1c6ce;

	border: 3px solid #c1c6ce;
}

.catalog__title {
	font-style: "PT Sans" sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #000;
}

.price__old {
	font-style: "PT Sans" sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #c1c6ce;

	text-decoration: line-through;
}

.price__new {
	font-style: "PT Sans" sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #fff;

	text-transform: uppercase;

	background-color: #ee3643;
}









