body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "PT Sans", sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	color: #000000;

	background-color: #ffffff;
}

a {
	color: #ffffff;

	text-decoration: none;
}

ul {
	list-style: none;
}

.btn {
	font-size: 14px;
	line-height: 18px;

	text-align: center;
	vertical-align: middle;

	background-color: #ee3643;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}



.header,
.header input[type="search"] {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	background-color: #293449;
}

.header input[type="search"] {
	border: none;
}

.header input[type="search"]:hover,
.header__info:hover {
	background-color: #212a3a;
}

.header input[type="search"]:focus {
	color: #000000;

	background-color: #ffffff;
}

.header__info:active {
	color: #a2a5a9;

	background-color: #161d29;
}

.header__order {
	color: #f5f9f2;

	background-color: #63a63e;
}

.header__order:hover {
	color: #ffffff;

	background-color: #5fbb2d;
}

.header__order:active {
	color: #a8c29a;

	background-color: #518534;
}

.header__box {
	background-color: #f4f7f9;
}

.header__description {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.header__aside a {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header__aside p {
	font-size: 14px;
	line-height: 24px;

	color: #32425c;
}

.header__user a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.header__user a:hover {
	color: #ee3643;
}

.header__user a:active {
	color: #c5c5c5;
}

.header__navigation {
	font-size: 17px;
	line-height: 17px;
	color: #f1f2f4;

	background-color: #32425c;
}

.header__navigation a:hover {
	color: #ffffff;

	background-color: #293449;
}

.header__navigation a:active {
	color: #525a68;

	background-color: #1d2739;
}

.company__title {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

.company p {
	font-family: "PT Sans" sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.company__description ul {
	line-height: 20px;
}

.footer {
	line-height: 24px;
	color: #ffffff;

	background-color: #32425c;
}

.footer__navigation a {
	color: #f1f5f7;
}

.footer__menu a {
	color: #ffd180;
}

.footer__navigation a:hover,
.footer__menu a:hover {
	text-decoration: underline;
}

.footer__navigation a:active {
	text-decoration: none;

	color: #929caa;
}

.footer__menu a:active {
	text-decoration: none;

	color: #ad956f;
}

.footer__row {
	font-size: 16px;
	line-height: 18px;

	color: #ffffff;

	background-color: #293449;
}

.socials a {
	background-color: #212a3a;
}

.socials a:hover,
.socials a:active {
	background-color: #ee3643;
}

.footer__row .link {
	color: #ffd180;
}

.footer__row .link:hover {
	text-decoration: underline;
}

.footer__row .link:active {
	text-decoration: none;
	color: #ee3643;
}


/*Каталлог*/

.user {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.user__list a {
	font-size: 16px;
	color: #32425c;

	text-decoration: underline;
}

.user__list a:hover {
	color: #ee3643;
}

.user:active
.user__list a:active {
	color: #b2b2b2;
}

.breadcrumbs a,
.breadcrumbs__active {
	font-family: "PT Sans" sans-serif;
	font-size: 13px;
	color: #000000;

	text-transform: uppercase;
}

.buy {
	font-size: 14px;
	line-height: 18px;

	text-transform: uppercase;

	background-color: #63a63e;
}

.buy:hover {
	background-color: #5fbb2d;
}

.buy:active {
	background-color: #518534;
}

.cart {
	font-size: 14px;
	line-height: 18px;
	color: #32425c;

	text-transform: uppercase;

	border: 3px solid #63a63e;
}

.cart:hover {
	border: 3px solid #32425c;
}

.cart:active {
	color: #c1c6ce;

	border: 3px solid #c1c6ce;
}

.catalog h3 {
	font-style: "PT Sans" sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #000000;

	text-align: center;
}

.catalog span {
	font-style: "PT Sans" sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #999999;

	text-align: center;

	text-decoration: line-through;
}

.catalog p {
	font-style: "PT Sans" sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;

	text-align: center;

	text-transform: uppercase;

	background-color: #ee3643;
}

.filter {
	font-family: "PT Sans", sans-serif;

	text-transform: uppercase;
}

.filter legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.input {
	font-size: 15px;
	line-height: 20px;
}

.input:disabled {
	color: rgba(0, 0, 0, 0.4);
}

.filter button {
	font-size: 13px;

	text-transform: uppercase;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.title {
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #32425c;

	text-transform: uppercase;

	background-color: #f2f6f8;
}

.subtitle {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-width: normal;

	background-color: #f7f3ec;
}




